body, #switch-background
{
	transition: color 10s, background-color 10s, background-image 10s;
}
.header
{
	width:98%;
	display:flex;
	justify-content:space-between;
}
/*.header img*/
#switch-background
{
	--bg-size:32px;		/*Объявляем переменную*/
	width:var(--bg-size);
	height:var(--bg-size);
	padding:0 calc(var(--bg-size)/5);
	background-size:var(--bg-size) var(--bg-size);
}
.dark
{
	background-color:#323232;
	color:#C8C8C8;
}
	.dark #switch-background
	{
		background-image:url("sun.png");
		filter: brightness(0) invert(1);
	}
.light
{
	background-color:white;
	color:black;
}
	.light #switch-background
	{
		background-image:url("moon.png");
	}

/* /////////////////////////////////////////////////// */

input, div, button
{
	font-size: 24px;
	width:50%;
}
input
{
	text-align:right;
}

.task
{
	width: 100%;
	display: flex;
	align-items:center;
}

.result
{
	max-width: 50%;
}
.pair
{
	text-align:right;
}
label
{
	width:50%;
}

#factorial-result
{
	overflow:scroll;
	width:100%;
	height:400px;
}
/* /////////////////////////////////////////////////////////////////////////// */

.images-and-colors
{
	width:100%;
	display:flex;
	justify-content:space-between;
}

.image-container
{
	border:solid 1px;
	/*width:800px;
	height:600px;*/
}
#image, .image-container
{
	width:400px;
	height:300px;
}
.select-color
{
	display:flex;
	justify-content:space-between;

	margin:12px;
}