@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body
{
	font-family: 'Roboto Condensed';
	font-size: 20px;
	padding: 1% 5%;
	/*background-image: url('img/pcb.jpg');*/
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	/*backdrop-filter: invert(50%);*/
}
::backdrop
{
	filter:invert(50%);
}

p
{
	text-align: justify;
	text-indent: 48px;
}

	p::first-letter
	{
		font-size: 32px;
		font-family: 'Segoe Script';
	}

figure
{
	text-align: center;
	font-style: italic;
	font-weight: 100;
}

ul
{
	list-style: none;
}
/*
    a - Anchor
    href="URL" hyperreference
    id="name"
*/
a
{
	text-decoration: none;
}

	a:active
	{
		color: green;
	}

	a:visited
	{
		color: darkgreen;
	}

	a:hover
	{
		font-weight: 800;
		background-color: black;
		color: white;
	}
#home a:hover
{
	background:none;
}

:target /*> span*/
{
	/*background-color: limegreen;*/
}

	:target + div
	{
		/*background-color:#ABABAB;*/
		border-radius: 15px;
		background-color: rgba(220, 220, 220, .5);
		box-shadow: 0 0 25px 25px rgba(220, 220, 220, .7);
	}

div
{
	padding: 16px;
}

	div > p
	{
	/*
		Стили будут применяться только к тем элементам <p>, которые непосредственно вложены в элемент <div>
		------------------------------------------------
		<div>
			<p>Здесь стили применятся</p>
			<article>
				<p>А здесь уже НЕ применятся, поскольку нет непосредсвенного вложения в '<div>' </p>
			</article>
			<p>Здесь стили применятся</p>
		</div>
		------------------------------------------------
    */
	}
	div > article > p
	{
		/* это для предыдущего примера.	*/
	}

	div p
	{
		/*
		Стили будут применяться к тем элементам <p>, которые вложены в элемент <div> на любой уровень глубины
		------------------------------------------------
		<div>
			<p>Здесь стили применятся</p>
			<article>
				<p>Здесь стили так же применятся, поскольку такое отношение применяет стили на любом уровне вложенности (глубине)</p>
			</article>
			<p>Здесь стили применятся</p>
		</div>
		------------------------------------------------
        */
	}

	div + p
	{
	/*
	Стили будут применяться только к тем элементам <p>, которые непосредственно следуют за  элементом <div> на одной глубине.
	*/
	}
	div ~ p
	{
	/*
	Стили будут применяться ко всем элементам <p>, которые следуют за  элементом <div> (на одной глубине????).
	*/
	}
.cite
{
	/*border: solid 8px;*/
	border-left: solid 5px blue;
	/*margin-left:....*/
	/*padding-top:....*/
	margin: 50px 100px 200px 300px; /*Внешний отступ*/
	/*margin: all-sides;*/
	/*margin: top-bottom left-right;*/
	/*margin: top left-right bottom;*/
	/*margin: top right bottom left;*/
	padding: 30px; /*Внутренний отступ
	/*margin: all-sides;*/
	/*padding: top-bottom left-right;*/
	/*padding: top left-right bottom;*/
	/*padding: top right bottom left;*/
}
/* ------------------------------------------------------- */